.modal_button:hover{
  text-decoration: underline;
  cursor:pointer;
}

.modal p {
  margin-left: 0.3rem;
}

.searchModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #937a1863;
  width: 100%;
}

.modal_search {
  flex-direction: column;
}

.search input, .modal_search input {
  width:fill;
}

.modal_inputs {
  display:flex; 
}

.inputs input {
  width:fill;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: baseline;
}

.title h3 {
  padding-left: 0.6rem;
}
.title,
.description {
  text-align: center;
}

.list {
  display:flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  
  /* border: 1px solid black;
  border-radius: 10px; */
}

.list::-webkit-scrollbar {
  display:none;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 1rem;
}

.card {
  margin: 0.3rem;
  padding: 0.9rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px dotted #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  padding-bottom: 0;
}

.card img {
  width: 150px;
  height: 150px;
}

.card div {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size:medium;
}

.card h3 {
  margin: 0;
  font-size: small;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.topBarContainer
{
  --top-bar-height: 250px;
  display:flex;
  height: var(--top-bar-height);
  max-width: 1100px; 
  width: fill;
}

.arrow {
  display: inline;
  height: var(--top-bar-height);
  font-size: 2rem;
  color: #000;
  background-color: #eeeeee00;
  border: 1px solid #00000000;
}

.arrow:hover {
  color: #36251c; 
  background-color: rgba(0, 0, 0, 0.098);
  border: 1px solid #00000000;
}



.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  font-size: 17px;
  margin-right: 1rem;
  border: 1px solid #00000000;
}

.search {
  display:flex;
  width:100%;
  justify-content: center;
}

.searchButton {
  background-color: #eeeeee44;
  border-radius:10px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  max-width: 900px;
}

.result {
  display: flex;
  align-items: center;
  height: 150px;
  width:100%;
  border-radius: 10px;
  font-size: 17px;
  padding: 1rem;
}

.result_info {
  padding-left:1rem;
}


.result:hover {
  background-color: olive;
}

@media only screen and (max-width: 600px) {
  .grid {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .card {
    margin: 0.1rem;
    padding: 0.6rem;
    padding-bottom: 0;
  }

  .card img {
    width: 130px;
    height: 130px;
  }

  .card h2 {
    font-size: small;
  }
  .card h3 {
    font-size:x-small;
  }
  
  .topBarContainer {
    height:250px;
    width: 100%;
  }

  .vinyl img {
    width: 190px;
    height: 190px;
  }

  .vinyl {
    font-size:11px;
    height: 200px;
  }

  .arrow{
    display:none;
  }
  
  .results {
    width: 100%;
  }

  .result {
    width: 100%;
    height: 100px;
    font-size: 11px;
    padding:0.3rem;
  }

  .result_info {
    width:50%;
  }
  .result img {
    width: 75px;
    height: 75px;
  }

}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}